@tailwind base;
@tailwind components;
@tailwind utilities;

/* Browser margin-ai 0 panna */
html, body, #root {
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100vh;
  background-color: #020617; /* bg-slate-950 */
  overflow-x: hidden;
}